body{
    background-color: aqua;
    
}
.heading1{
    background-color: blue;
    color: wheat;
}
.heading2{
    background-color: tomato;
    color: brown;
    padding: 10px 15px;
}
.error{
    background-color: crimson;
    color: white;
    padding: 10px;
    width: 80%;
    display: none;
    
}
.button{
    padding: 10px;
}